.SingleMachine {
  display: block;
}

.form-control {
  width: 100%;
}

.dropDown {
  width: 100%;
}

.menu {
  width: 100%;
}

.btnContainer1 {
  display: flex;
  flex-wrap: wrap;
}

.top-left {
  flex: 50%;
}

.top-right {
  flex: 50%;
}

.btnContainer2 {
  display: flex;
  flex-wrap: wrap;
}

.bottom-left {
  flex: 50%;
}

.bottom-right {
  flex: 50%;
}

