.SingleMachine {
  display: block;
}

.btnContainer1 {
  display: flex;
  flex-wrap: wrap;
}

.top-left {
  flex: 50%;
}

.bottom-left {
  flex: 50%;
}

.btnContainer2 {
  display: flex;
  flex-wrap: wrap;
}

.top-right {
  flex: 50%;
}

.bottom-right {
  flex: 50%;
}

