.SingleMachineSchedulePage {
  display: block;
}

.btnContainerOne {
  display: inline-block;
  
}

.top-left {
  flex: 50%;
}

.top-right {
  flex: 50%;
}

.bottom-left {
  flex: 50%;
}

.bottom-right {
  flex: 50%;
}