.SingleMachineHistoryPage {
  display: block;
  background-color: white;
  margin-top: 15%;
  padding: 3rem;
}

.form-control {
  width: 100%;
}

.dropDown {
  width: 100%;
}

.menu {
  width: 100%;
}



